/*--- color=#343a40---*/

a,
a:hover {
    text-decoration: none;
}

#side-area {
    background-color: #343a40de;
    padding: 20px;
    border-bottom-right-radius: 10px;
    border-bottom: 3px solid whitesmoke;
    padding-top: 50px;
}

#side-area li {
    padding-top: 30px;
}

#side-area h4 {
    text-align: center;
    color: white;
}

.side {
    list-style: none;
}

.side li a {
    padding: 5px;
    color: whitesmoke;
}

li a:hover {
    text-decoration: none;
}

#menu {
    list-style: none;
    padding: 0px;
}


/*------------------*/


/*---- main area---*/

#main-area {
    padding: 70px;
}

.add-category {
    margin: 10px;
}

.zone {
    color: #343a40;
    background-color: white;
    border-radius: 10px;
    padding: 5px;
}

.class1 {
    padding-top: 100px;
}

label {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

#add {
    margin-top: 5px;
    margin-left: 500px;
}

#table {
    border-radius: 10px;
}